* { margin: 0; padding: 0; }
body { font-family: 'Open Sans'; }

h1 { }

.container {
  display: flex;
  width: 100%; }

.sidebar {
  background-color: #76E4B5;
  width: 20%; }

.list {
  background-color: #D6BC7A;
  width: 80%; }

.list .columns {}

.explorer {}
.world {}

.streams {
  display: flex;
}
.streams .columns {
  width: 33%;
}
