<h1>{{message}}</h1>

<div class="container">

  <div class="sidebar">

    <ul>
      <li>
        <a href="">
          <img 
            src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=350&h=150"
            alt="Logo"
          />
        </a>
      </li>
    </ul>

    <ul class="columns">
      <li>Search</li>
      <li>
        <a ng-click="login();">
          Connect
        </a>
      </li>
      <li>
        <ul>
          <li>#tag1</li>
          <li>#tag2</li>
        </ul>
      </li>
    </ul>

  </div>

  <div class="list">

    <leaflet
      lf-center="center"
      height="480px"
      width="640px"
    ></leaflet>

    <div class="columns">
      <h2>Topics</h2>
      <ul>
        <li>Topic 1</li>
        <li>Topic 1</li>
        <li>Topic 1</li>
        <li>Topic 1</li>
        <li>Topic 1</li>
      </ul>
    </div>

    <div class="columns">
      <h2>Photos</h2>
      <ul>
        <li>Photo 1</li>
        <li>Photo 2</li>
        <li>Photo 3</li>
        <li>Photo 4</li>
        <li>Photo 5</li>
      </ul>
    </div>

    <div class="columns">
      <h2>Events</h2>
      <ul>
        <li>Event 1</li>
        <li>Event 2</li>
        <li>Event 3</li>
        <li>Event 4</li>
        <li>Event 5</li>
      </ul>
    </div>

  </div>

</div>
