<h1>{{message}}</h1>

<div class="container">

  <div class="sidebar">

    <ul>
      <li>
        <a href="">
          <img 
            src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=350&h=150"
            alt="Logo"
          />
        </a>
      </li>
    </ul>

    <ul class="columns">
      <li>
        <a ng-click="login();">
          Connect
        </a>
      </li>
      <li>
        <ul>
          <li>#tag1</li>
          <li>#tag2</li>
        </ul>
      </li>
    </ul>

  </div>

  <div class="list">

    <!--

                       _
                      | |
     _____ _   _ ____ | | ___   ____ _____  ____
    | ___ ( \ / )  _ \| |/ _ \ / ___) ___ |/ ___)
    | ____|) X (| |_| | | |_| | |   | ____| |
    |_____|_/ \_)  __/ \_)___/|_|   |_____)_|
                |_|

    -->

    <div class="explorer">
      <form
        ng-search-action
        action=""
        itemprop="potentialAction"
        itemscope
        itemtype="http://schema.org/SearchAction"
      >

        <md-input-container>
          <label for="resourcesExplorer.searchAction">Search</label>
          <meta
            itemprop="target"
            content="http://ourpangea.com/search?q={query}"
          />
          <input
            id="resourcesExplorer.searchAction"
            itemprop="query-input"
            ng-model="SearchAction.queryInput"
            type="text"
            name="query"
          />
        </md-input-container>

        <md-button
          ng-disabled="true"
          class="md-primary"
        >Search</md-button>
      </form>
    </div>

    <!--

                       _     _
                      | |   | |
     _ _ _  ___   ____| | __| |
    | | | |/ _ \ / ___) |/ _  |
    | | | | |_| | |   | ( (_| |
     \___/ \___/|_|    \_)____|

    -->

    <div class="world">
      <leaflet
        lf-center="center"
        height="480px"
        width="640px"
      ></leaflet>
    </div>

    <!--

            _
      ___ _| |_  ____ _____ _____ ____   ___
     /___|_   _)/ ___) ___ (____ |    \ /___)
    |___ | | |_| |   | ____/ ___ | | | |___ |
    (___/   \__)_|   |_____)_____|_|_|_(___/

    -->

    <div class="streams">
      <div class="columns">
        <h2>Topics</h2>
        <ul>
          <li>Topic 1</li>
          <li>Topic 1</li>
          <li>Topic 1</li>
          <li>Topic 1</li>
          <li>Topic 1</li>
        </ul>
      </div>

      <div class="columns">
        <h2>Photos</h2>
        <ul>
          <li>Photo 1</li>
          <li>Photo 2</li>
          <li>Photo 3</li>
          <li>Photo 4</li>
          <li>Photo 5</li>
        </ul>
      </div>

      <div class="columns">
        <h2>Events</h2>
        <ul>
          <li>Event 1</li>
          <li>Event 2</li>
          <li>Event 3</li>
          <li>Event 4</li>
          <li>Event 5</li>
        </ul>
      </div>
    </div>

  </div>
</div>
